html{
    height:100%;
    width:100%;
    background: rgb(235,218,204);
    background: -moz-radial-gradient(circle, rgba(235,218,204,1) 28%, rgba(251,251,251,1) 100%, rgba(235,218,204,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(235,218,204,1) 28%, rgba(251,251,251,1) 100%, rgb(207, 187, 170) 100%);
    background: radial-gradient(circle, rgba(235,218,204,1) 28%, rgba(251,251,251,1) 100%, rgba(235,218,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ebdacc",endColorstr="#ebdacc",GradientType=1);    margin:0;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    scroll-behavior: smooth;
}




body{
    padding-right:0;
    margin:0;
}
a:link{
    color:black;
    text-decoration: none;
}
a:visited{
    color:black;
    text-decoration: none;
}


header{
    
    display: grid;
    grid-template-columns:  1fr 5fr  1fr;
    background-color:  rgba(206, 156, 113);
}
footer{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    background-color: rgb(206, 156, 113);
}


ul{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    text-decoration: none;
    list-style-type: none;
}
li{
    text-decoration: none;
    
}
.headbar {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1vw;
    border-left: black solid 1px;
    border-right: black solid 1px;
}
.social{
    display:flex;
    justify-content: space-around;
    align-self: center;

}

.container{
    margin:0;
    padding-right:0;
    width:100%;
    display :fex;
    flex:wrap;
    justify-content: center;
    align-content: center;
}

.head{
    height:40%;
    width:100%;
    display:grid;
    overflow:hidden;
    grid-template-columns: 1fr  1fr;
    column-gap: 1%;
    align-content: start;
    margin-right:1%;

}
.head img{
    overflow: hidden;
    width: 97%;
    border: 5px rgba(107,77,53,1)  solid;
    transition: ease-in-out;
    margin-bottom:3%;
    margin-top:4%;
    margin-left:1%;
    margin-right:3%;
    
    
}

.left, .right{
    /*border: 10px rgba(41, 29, 18, 0.22) solid;
    border-left:none;
    border-top:none;*/
    box-shadow: 10px 10px 5px rgba(41, 29, 18, 0.5);
}

.title{
    display: flex;
    justify-content: center;
    font-size:11vh;
}

.blog{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right:5%;
    margin-bottom:5%;
    background-color: rgba(250, 160, 82, 0.2);
    
}
.blog img{
    object-fit: contain;
    width:34%;
    float: left;
    padding:1%;
    
}
.prev-title{
    font-size: 3vw;
    font:bold;
}
.prev-date{
    font-size:1vw;
}
.prev-summary{
    padding-left:3%;
    font-size: 2vw;
}

.preview1{
    box-shadow: 9px 9px 9px black;
}
.preview2{
    box-shadow: 8px 8px 8px black;
}.preview3{
    box-shadow: 10px 10px 10px black;
}




@media only screen and (max-width:980px){

    

    .container{
        margin:0;
        padding-right:0;
        width:100%;
        display :fex;
        flex:wrap;
        justify-content: center;
        align-content: center;
    }
    header {
        display: flex;
        flex-direction: column;

    }
    .head{
        margin:0;
        padding-left:0;
        width:100%;
        display :flex;
        justify-content: center;
        align-content: center;
    }
    .head img{
        overflow: hidden;
        width: 100%;
        border: 5% grey solid;
        transition: ease-in-out;
        margin-bottom:3%;
        margin-top:1%;
        margin-left:3%;
        margin-right:3%;
        
    }

    .right{
        display: none;
    }

    
    .title{
        display: flex;
        justify-content: center;
        font-weight:bold;
        font-size:6vh;
    }
    
    .blog{
        display: flex;
        overflow:hidden;
        flex-direction: column;
        align-content: start;
        background-color: rgba(250, 160, 82, 0.2);
        padding:0;
        margin-bottom:5%;
    }
    .blog img{
        
        height: auto;
        width:90%;
        padding:2%;
        margin:0%;
    }
    .prev-date{
        grid-row-start:2;
        grid-row-end:3;
        font-size:2vh;
        background-color: green;
        
    }
    .prev-title{
        background-color: red;
        font-size:4vh;
        font-weight: bold;
    }
    .prev-summary{
        font-size: 2.5vh;
    }
    
    
}